.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
   
      
  }
  
  body {
      background-color: lightblue;
    }
  
  p {
      font-size: large;
      text-align:center;
  }
  
  p {
      font-size: large;
      text-align:center;
  }
  
  h1 {
      font-size: large;
      text-align:center;
  }